.App {
  text-align: center;
}
body {
  background-image: url("./images/stage-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  margin-bottom: 50px;
}

#navbar .nav-page {
  color: white;
}
#navbar .nav-page:hover {
  cursor: pointer;
}
